<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!--Player Interactions-->
    <MyGamesFolder key="MyGamesFolder" value="Master of Magic" />
    <!--<add key="\Launcher\Images\MutiLauncherChoice\1.jpg" value="\Master of Magic Official Release" BuyLink="" />-->
    <add key="\Launcher\Images\MutiLauncherChoice\2.jpg" value="\Master of Magic Caster of Magic DLC" BuyLink="https://store.steampowered.com/app/1250690" />
    <add key="\Launcher\Images\MutiLauncherChoice\3.jpg" value="\Master of Magic Community Patch" BuyLink=""/>
    <add key="\Launcher\Images\MutiLauncherChoice\4.jpg" value="\Master of Magic Caster Windows" BuyLink="https://store.steampowered.com/app/1557960"/>
    <add key="\Launcher\Images\MutiLauncherChoice\5.jpg" value="\Master of Magic Caster Windows Eons" BuyLink=""/>
  </appSettings>
  <StoreLink Link ="https://store.steampowered.com/publisher/Slitherine"/>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>